.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100%;
  background-color: beige;
}

.navHeader {
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: relative;
  z-index: 10;
  height: 5rem;
  background-color: white;
}

nav {
  display: flex;
  align-items: center;
}

.navOption {
  text-align: right;
}

.active {
  color: black
}

.postBorder {
  text-align: center;
  margin: auto;
  border: solid black 2px;
  display: flex;
  width: 50%;
  height: 80%;
  flex-flow: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.editPosts {
 display: flex;
 margin: auto;
}

.blogPost {
  justify-content: center;
  position: fixed;
  margin: auto;
  background-color: white;
}

.postBtn {
  justify-content: center;
  margin: auto;
}

